nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #dbdcdd;
}

.first {
    font-family: sans-serif;
    list-style: none;
    margin-top: 7%;
    cursor: pointer;
}

.first h3 {
    color: blue;
    font-weight: 600;
    font-size: 18px;
    margin-left: 30%;
}

.first input {
    width: 200px;
    height: 35px;
    border: 0;
    background-color: #f7f8fa;
    text-indent: 10px;
    color: blue;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    margin-left: 78%;
    transform: translateY(-120%);
}

.first h2 {
    transform: translateX(260%) translateY(-350%);
}

.first h2:hover {
    color: blue;
}

.second {
    display: flex;
    font-family: sans-serif;
    margin-left: 55%;
    list-style: none;
    gap: 20px;
    font-size: 15px;
    color: blue;
    margin-top: -4px;
    cursor: pointer;
}